/* Start reset */
html {
  font-size: 10px; /*stabilim dim de 1 rem*/
}

body {
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
input:focus,
textarea,
textarea:focus {
  border: unset;
  outline: unset;
  box-shadow: unset;
}

/* end reset */
